

@model ChartModel

@{
  Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Chart.js examples</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <style>
        h1 {
            color: navy;
            margin-left: 40px;
        }

        p {
            font-size: 16px;
            font-style: italic;
            
        }
    </style>
</head>
<body>
  <h1> Common Bread Bakes by Time</h1>
    <p> Below you will find a quick guide for baking times for simple beginner bread bakes.</p>

  <canvas id="barchartexample" width="600" height="350"></canvas>

  <script>
    new Chart(document.getElementById("barchartexample"), {
      type: '@Model.ChartType',
      data: {
        labels: [@Html.Raw(@Model.Labels)],
        datasets: [
          {
            label: "Population (millions)",
            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
            data: [@Model.Data]
          }
        ]
      },
      options: {
        legend: { display: false },
        title: {
          display: true,
          text: '@Model.Title'
        }
      }
    });
  </script>
</body>
</html>