@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        h1 {
            color: maroon;
            margin-left: 40px;
        }

        p {
            font-size: 16px;
            font-style: italic;
            border: 1px dotted red;
        }
    </style>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Bead Baking Fun for Everyone</h1>
    <p>“How can a nation be great if their bread tastes like kleenex?” – Julia Childs </p>
</body>
</html>

<a asp-controller="Home" asp-action="Chart">Common Bread Baking Times Chart</a>